/* You can add global styles to this file, and also import other style files */

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.app-content {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app-content::-webkit-scrollbar {
  display: none;
}
